/* own stuff */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');

.Main {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.results {
  display: table;
  width: 100%;
  border-collapse: collapse;
  /* Ensures borders don't double up */
}

.results .result-item {
  display: table-row;
}

.results .result-item div {
  display: table-cell;
  padding: 8px 12px;
  border: 1px solid #ccc;
  /* Adds borders around cells */
  text-align: left;
  /* Aligns text to the left */
}

.results .result-item div:first-child {
  font-weight: bold;
  /* Makes the first cell in each row bold */
}

.results .result-item div:nth-child(odd) {
  background-color: #f9f9f9;
  /* Alternating row colors */
}


/* end of own stuff */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  color: #090909;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}


strong,
b {
  font-weight: 600;
}



h1 {
  font-size: 24px;
  color: #3f3f3f;
}

h2 {
  font-size: 20px;
  color: #3f3f3f;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  color: #3f3f3f;
  font-weight: 300;
}

a {
  color: #006db7;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

::placeholder,
::-webkit-input-placeholder {
  /* edge */
  color: #cccccc;
  font-weight: 100;
  font-size: 14px;
}


/* FORM */

label {
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}


input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  padding: 9px 6px;
  font-size: 14px;
  border: 1px solid #cccccc;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  padding: 9px 6px;
  font-size: 14px;
  background-color: #fdfcff;
  box-shadow: 0 0 0 1px #999999;
  outline: none;
}

input[type=checkbox],
input[type=radio] {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

input[type=button],
input[type=submit],
input[type=reset],
button {
  font-family: 'Roboto', sans-serif;
  background-color: #bc8351;
  border: 1px solid #bc8351;
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  margin: 0px 4px 2px 0px;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background-color: #9b5e29;
  border: 1px solid #9b5e29;
}



#form input[type=text],
#form input[type=email],
#form input[type=password],
#form select,
#form textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 6px 0px;
}

#form input[type=checkbox],
#form input[type=radio] {
  width: 18px;
  height: 18px;
  top: 4px;
  margin-right: 10px;
}

#form label {
  padding: 18px 0 4px 0;
  display: inline-block;
  cursor: pointer;
}



/*  BUTTONS  */

.button-alt {
  background-color: #4e4e4e;
  border: 1px solid #4e4e4e;
}

.button-alt:hover {
  background-color: #9b5e29;
}

.button-alt2 {
  background-color: #ffcf00;
  border-color: #edbe0e;
}

.button-alt2:hover {
  background-color: #edbe0e;
}

.button-small {
  padding: 7px 8px;
  font-size: 13px;
}

.button-mini {
  padding: 6px 6px;
  font-size: 11px;
}

.button-mini .fa {
  padding: 0px;
  font-size: 14px;
}

.button-mini-alt {
  background-color: #4e4e4e;
  border: 1px solid #4e4e4e;
  padding: 6px 6px;
  font-size: 11px;
  color: #cccccc;
}

.button-small-alt {
  padding: 7px 8px;
  font-size: 13px;
  background-color: #4e4e4e;
  border: 1px solid #4e4e4e;
}

.button-small-alt:hover {
  background-color: #4e4e4e;
}

.button-small-alt2 {
  padding: 7px 8px;
  font-size: 13px;
  background-color: #ffcf00;
  color: black;
  border: 1px solid #edbe0e;
}

.button-small-alt2:hover {
  background-color: #edbe0e;
}

.right {
  float: right;
  margin-left: 4px;
  margin-right: 0px;
}

.left {
  float: left;
  margin-left: 0px;
  margin-right: 4px;
}

.txt-right {
  text-align: right;
  margin-left: 4px;
  margin-right: 0px;
}

.noborder {
  border: 0px !important;
}


.breadcrumbs {
  font-size: 12px;
  color: #cccccc;
  font-style: italic;
}

.breadcrumbs a {
  color: #006db780;
}

/*  SEARCH  */

#item-search,
#text-search,
#advanced-search {
  display: table;
  /* margin: 2px 0px; */
  vertical-align: middle;
  height: 44px;
}

#item-search input[type=text],
#text-search input[type=text],
#advanced-search input[type=text] {
  width: 302px;
  vertical-align: middle;
  border-radius: 2px 0 0 2px;
}

#advanced-search input[type=text] {
  width: 200px;
}

#item-search button,
#text-search button,
#advanced-search button {
  margin: 0px;
  padding: 7px 8px;
  vertical-align: middle;
  border-radius: 0 2px 2px 0;
}

#item-search .button-small-alt,
#text-search .button-small-alt {
  margin: 0px;
  margin-left: 4px;
  padding: 5px 6px !important;
  vertical-align: middle;
  border-radius: 2px;
}

#item-search .fa-chevron-circle-down,
#item-search .fa-search,
#advanced-search .fa-search,
#advanced-search .fa-refresh,
#text-search .fa-search {
  font-size: 20px;
}

#item-search .fa-refresh {
  font-size: 20px;
}

.search {
  display: table-cell;
  vertical-align: middle;
}

.search-advanced {
  border-top: 1px solid #bc8351;
  width: 100%;
  margin-top: 8px;
  padding-top: 6px;
}

.filter-system {
  display: table-cell;
  vertical-align: middle;
  padding-inline: 4px;
}

.filter-system .divider {
  margin: 0px 16px;
}

.filter-system .title {
  margin-right: 8px;
}

.filter-system select {
  padding: 8px 4px;
  vertical-align: middle;
}

.filter-system label {
  /*vertical-align: middle;*/
  cursor: pointer;
  padding: 0px 0px;
  font-size: 13px;
  margin-inline: 2px;
  display: block;
  padding-top: 4px;
}

.filter-system input[type=checkbox] {
  width: 17px;
  height: 17px;
  top: -1px;
  vertical-align: middle;
  margin: 0px 6px 0px 0px;
  padding: 0px;
}

.filter-ext {
  float: right;
  cursor: pointer;
  margin-top: 12px;
}

.filter-ext:hover {
  color: #006db7;
}


#search-results h3,
#asset-data h3 {
  padding: 4px 0px 4px 0px;
  margin: 4px 0px 4px 0px;
}

.result-header {
  display: inline-block;
  vertical-align: middle;
  /* padding-top: 14px; */
}

.search-filter {
  float: right;

}

/* CONTAINERS */


#container {
  padding: 0px;
  margin: auto;
  margin-top: 120px;
}

.main {
  margin: 0px;
  padding: 0px;
  flex: 1;
}

.greybox {
  width: 100%;
  padding: 0px;
  background-color: #efefef;
  border-bottom: 1px solid #e6e6e6;
  z-index: 1;
  margin-top: 55px;
  top: 0px;
}

.content {
  max-width: 1630px;
  margin: auto;
  box-sizing: border-box;
  padding: 8px 6px;
}

.content-table {
  max-width: 1630px;
  margin: auto;
  box-sizing: border-box;
  padding: 16px;
}

#content-txt h1,
#content-txt h2 {
  padding-top: 20px;
  padding-bottom: 12px;
  margin: 6px 0px;
}

#content-txt h3 {
  padding-top: 6px;
  padding-bottom: 3px;
  margin-top: 12px;
  margin-bottom: 0px;
}


.footer {
  padding: 16px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f6f6f6;
  margin-top: 16px;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.forms {
  max-width: 800px;
  padding: 16px;
}

/* COLS */

.col-left {
  float: left;
  margin-top: 6px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  padding: 10px;
  width: 360px;
}

.col-left h2 {
  margin-top: 4px;
  margin-bottom: 6px;
  padding: 0px 2px;

}

.col-right {
  margin-top: 6px;
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: border-box;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-33 {
  float: left;
  width: 33%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-66 {
  float: left;
  width: 66%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-80 {
  float: left;
  width: 80%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
  box-sizing: border-box;
}

.col-70 {
  float: left;
  width: 70%;
  margin-top: 6px;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-buttons:before {
  padding-top: 20px;
  content: "";
  display: table;
  clear: both;
}

.shared {
  font-size: 13px;
}

.home {
  min-height: 466px;
  width: 100%;
  /* padding: 12px; */
  box-sizing: border-box;
}

.home h3 {
  margin-bottom: 5px;
}

.home .pad {
  padding-left: 20px;
}


/*  NAVI TOP  */

.topnav {
  background-color: #2a2b2f;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.topnav .menu {
  max-width: 1630px;
  margin: auto;
}

.topnav a {
  float: left;
  color: #efefef;
  text-align: center;
  padding: 20px 0px 12px;
  margin: 0px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.topnav .active {
  border-bottom: 3px solid #9b5e29;
}

.topnav a:hover {
  border-bottom: 3px solid #fefefe;
}

.topnav a.split {
  float: right;
  background-color: #006db7;
  color: white;
}

.topnav .icon-menu {
  display: none;
  float: left;
}

.topnav .icon-start {
  display: none;
  float: left;
}

.topnav button {
  vertical-align: super;
  margin-right: 46px;
  margin-top: 3px;
}

.login-container {
  float: right;
  padding: 12px;
}

.login-container .login-field {
  max-width: 300px;
}

.login-user {
  float: right;
  padding: 18px;
}



/* TABLE on DIV */

.table {
  display: table;
  border-collapse: collapse;
  margin-bottom: 28px;
  min-width: 500px;
}

.table .row {
  display: table-row;
  border-bottom: 1px solid #eaeaea;
}

.table .header {
  display: table-cell;
  font-weight: bold;
  padding: 12px 0px;
  padding-right: 32px;
}

.table .cell {
  display: table-cell;
  padding: 4px 0px;
  padding-right: 32px;
}

.table .cell:last-child {
  padding-right: 0px;
}




/* TABS */

#tab {
  display: none;
}

#tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 0px;
  font-size: 16px;
  width: 25% !important;
}

#tab .tablink {
  background-color: #fff;
  color: #777777;
}

#tab .tablink-active {
  background-color: #f7f7f7;
  color: #bc8351;
}

#tab .tablink:hover {
  background-color: #9b5e29 !important;
  color: #ffffff;
}

.tab-content {
  clear: both;
  /*background-color: #f7f7f7;*/
  display: block;
  padding: 20px;
  height: 100%;
  overflow-wrap: break-word;
}

.tab-content h3 {
  padding-top: 20px;
}

#tab-title {
  clear: both;
  background-color: #f7f7f7;
  display: block;
  padding: 20px 20px;
  display: none;
}

#tab-title h3 {
  margin-top: 10px;
  margin-top: 10px;
}

/* MODALS */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 50px;
}

.modal-close {
  float: right;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f3f3f3;
}

.modal-close:hover,
.modal-close:focus {
  color: gray;
  cursor: pointer;
}

.modal-content {
  background-color: #f3f3f3;
  margin: 15% auto 15% auto;
  border: 1px solid #cccccc;
  max-width: 520px;
}

.modal-header {
  padding: 1px 16px;
  background-color: #ffcf00;
  min-height: 48px;
}

.modal-body {
  padding: 16px;
}

.modal-footer {
  padding: 16px;
}

.modal-button {
  width: 100%;
  background: none !important;
  border: 0px !important;
  text-align: left;
}

/* modals end */



/* TOGGLED TREE LIST */

.col-groups {
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  padding: 10px;
  max-width: 390px;
}


.col-groups h3 {
  padding-left: 2px;
  margin: 10px 2px;
}


#group-tree {
  list-style-type: none;
  margin: 16px 1px;
  padding: 0px;
  font-size: 13px;
  clear: both;
  line-height: 1.1;
}

#group-tree ul {
  list-style-type: none;
  padding-top: 4px;
  padding-left: 14px;
  padding-bottom: 0px;
}

#group-tree li {
  list-style-type: none;
  padding: 4px 0px;
}

/* ul */
.node-group {
  display: none;
}

/* li */
.node {
  cursor: pointer;
  padding: 6px 0px;
}

.node::before {
  font-family: 'FontAwesome';
  content: "\f054";
  color: #999999;
  display: inline-block;
  margin-right: 6px;
  padding-top: 2px;
}

.node-down {
  font-weight: bold;
}

.node-down::before {
  color: #9b5e29;
  transform: rotate(90deg);
}

.node-active {
  display: block;
}

.show-all {
  margin: 6px 0px;
  width: 100%;
}

.toggle {
  padding: 0px;
  margin-top: 0px;
  color: #cccccc;
}

.toggle .fa {
  font-size: 22px;
  color: #cccccc;
}

.toggle .fa:hover {
  color: #9b5e29;
}


/* toggle end */



/* TABS LISTS */

.col-tabs {
  margin-left: 16px;
}


#dataset {
  margin-inline: 12px;
  padding: 8px;
  margin-top: -5px;
  margin-bottom: -10px;
}

.datasets-list {
  list-style-type: none;
  padding: 4px 0px;
  padding-bottom: 12px;
}

.datasets-list li {
  list-style-type: none;
}


#template-list {
  padding-bottom: 12px;
  overflow-x: hidden;
  /*white-space: nowrap;*/
  line-height: 1.4;
  border-top: 1px solid #eaeaea;
}

#template-list li:first-child h2 {
  margin-top: 0px;
}

#template-list ul {
  list-style-type: none;
  padding-left: 0px;
  margin-right: 6px;
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -moz-column-fill: balance;
  column-fill: balance;
}

@media screen and (max-width: 1280px) {
  #template-list ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}


#template-list .column {
  flex: 33%;
  padding: 5px;
}




#assets-list,
.assets-list {
  list-style-type: none;
  padding: 4px 0px;
  padding-bottom: 12px;
  /*  
  overflow-x: hidden;
  white-space: nowrap;
*/
}

.texts-list {
  list-style-type: none;
  padding: 2px 0px;
}


#assets-list li,
.assets-list li,
.texts-list li {
  padding: 2px 0px;
  border-bottom: 1px solid #eaeaea;
}

#assets-list .assets-list-subasset li {
  list-style-type: none;
  margin-left: 78px;
}

#assets-list .assets-list-subasset li:last-child {
  border-bottom: 0px solid #eaeaea !important;
}

#assets-list .assets-list-header {
  font-size: 12px;
  font-weight: 600;
  color: grey;
  border-bottom: 1px solid #eaeaea;
  margin: 12px 0px;
  padding-bottom: 4px !important;

}


.guid {
  min-width: 80px;
  padding: 5px 0px 0px;
  vertical-align: middle;
  float: left;
}

.asset {
  padding: 5px 0px 4px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.assets-list-subasset .asset {
  padding: 8px 0px 1px;
}

.text {
  font-size: 13px;
  margin-bottom: 2px;
  margin-top: 6px;
}

.ext-info {
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 6px;
}

.ext-info-cols {
  font-size: 12px;
  display: inline-block;
  width: 95px;
  cursor: pointer;
}

.asset-list-head {
  padding: 5px 0px 3px;
  margin-left: 34px;
  display: inline-block;
}

.asset-list-parent {
  margin-left: 24px;
  padding-top: 10px;
}

.asset-texts {
  padding: 8px;
  background-color: #fefcfe;
  border: 1px solid #eaeaea;
  margin-top: -6px;
  line-height: 1.5;
}

#asset-img div:not(:first-child) {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 6px;
  line-height: 1.3;
  margin: 3px 0px;
}

#asset-img h3 {
  line-height: 1.3;
  margin: 6px 0px;
}

#asset-img p {
  margin-top: 12px;
  margin-bottom: 16px;
}

.asset-icon,
.item-picture-error {
  width: 24px;
  height: 24px;
  border: 1px solid #9b5e29;
  background-color: #fafafa;
  float: left;
  margin-right: 8px;
  vertical-align: middle;
}

.asset-icon-empty {
  /* width: 24px; */
  /* height: 24px; */

  margin-right: 34px;
}

.item-picture {
  background-color: #2a2b2f;
  width: 100%;
  height: 100%;
}

.item-picture-error {
  visibility: hidden;
  border: 1px solid #9b5e29;
}

.item-picture-span {
  width: 80px;
  height: 80px;
  padding: 1px;
  border: 1px solid #9b5e29;
  float: right;
  box-sizing: border-box;
  margin-left: 1px;
}

.img {
  max-width: 100%;
  height: auto;
  background-color: #f3f3f3;
  border: 1px solid #9b5e29;
}

.zoom-img {
  padding: 0px;
  cursor: pointer;
  display: block;
  transition: transform .2s;
}

.zoom-img:hover {
  transform: scale(100%);
  width: 96px;
  height: 96px;
  margin-left: -75px;
  margin-top: -75px;
  border: 2px solid #9b5e29;
  padding: 0px;
  position: relative;
  background: #2a2b2f;
}

.viewer {
  width: 460px;
  height: 260px;
  margin: 6px 0px;
  border: 1px solid #EFEFEF;
}

#snippet {
  font-family: consolas, Menlo, "courier new", monospace;
  font-size: 14px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  margin: 6px 0px;
  padding: 16px;
  border: 1px solid #eaeaea;
  background-color: #fefcfe;
  min-height: 400px;
  overflow-wrap: break-word;
  -moz-tab-size: 2;
  /* Firefox */
  tab-size: 2;
  line-height: 1.3;

  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}


#snippet .tag-el {
  color: #bc8351;
}

#snippet .tag-name {
  color: #999999;
  font-style: italic;
}


.data {
  font-size: 13px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  margin: 6px 0px;
  padding-top: 6px;
  word-break: break-all;
  /* overflow-wrap: anywhere;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; */
}

.data .value {
  font-size: 13px;
  float: right;
  text-align: right;
  font-weight: bold;
  color: #bc8351;
  margin-left: 6px;
}

.data .row {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 0px;
  border-bottom: 1px solid #eaeaea;
}

.data .row:hover {
  background-color: #efefef;
}

.data .key {
  max-width: 100%;
  float: left;
  margin-right: 6px;
}


/* ICONS  */


.fa {
  font-size: 16px;
}

.fa-check-square {
  color: #bc8351;
}

.fa-check {
  color: white;
  font-size: 17px;
}

.fa-external-link-square {
  font-size: 14px;
}

.fa-times {
  color: red;
}

.fa-square {
  color: ForestGreen;
  font-size: 16px;
}

.fa-check-circle {
  color: ForestGreen;
}

.fa-plus-square {
  color: #cfcfcf;
  transition: 0.2s;
  padding: 0px;
}

.fa-trash,
.fa-envelope,
.fa-minus-square {
  color: #006db7;
  transition: 0.2s;
  padding: 12px;
}



.fa-trash:hover,
.fa-envelope:hover,
.fa-minus-square:hover {
  color: #bc8351;
}


.fa-home {
  font-size: 24px;
  margin: -4px 2px;
  vertical-align: text-top;
}

.fa-picture-o,
.fa-camera,
.fa-camera-retro {
  font-size: 46px;
  color: LightGray;
  opacity: 0.5;
}

.button-small .fa,
.button-small-alt .fa,
.button-small .fa:hover,
.button-small-alt .fa:hover {
  font-size: 14px;
  color: #ffffff;
  padding: 0px;
}

.button-small-alt2 .fa,
.button-small-alt2 .fa:hover {
  font-size: 18px;
  color: black;
  padding: 0px;
}

H1 .fa,
H1 .fa:hover {
  font-size: 26px;
  color: #3f3f3f;
  padding: 0px;
  margin-right: 4px;
}




/* ALERTS */

#response {
  max-width: 100%;
  margin: auto;
  padding-top: 6px;
  clear: both;
}

#response-modal {
  max-width: 100%;
  margin: auto;
  padding: 10px 0px;
}

.response-success {
  background-color: #e5f1fb;
  color: #006db7;
  padding: 10px;
  border: 1px solid #006db7;
  display: block;
  margin: 8px 0px 12px 0px;
}

.response-alert {
  background-color: #fff4f3;
  color: #cc0c2f;
  padding: 10px;
  border: 1px solid #cc0c2f;
  display: block;
  margin: 8px 0px 12px 0px;
}

.response-info {
  background-color: #fff5e5;
  color: #9b5e29;
  padding: 10px;
  border: 1px solid #9b5e29;
  display: block;
  margin: 8px 0px 12px 0px;
}



.tip-info {
  font-size: 12px;
  background-color: #bc8351;
  color: #efefef;
  padding: 10px;
  border: 1px solid #9b5e29;
  display: block;
  text-align: justify;
  margin-top: 4px;
}

.tip {
  clear: both;
  border: 0px solid #cccccc;
  max-height: 0;
  overflow: hidden;
  transition: max-height .1s ease-in-out;
}



/* Tooltip container */
.tooltip {
  position: relative;
  display: inline;
  padding-top: 4px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  text-decoration: none;
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  padding: 6px 8px;
  border-radius: 2px;
  right: 105%;
  z-index: 1;
  margin: -6px 6px;
  opacity: 0;
  transition: opacity 0.3s;
  width: auto;
  transition-delay: 0.01s;
  white-space: nowrap;
  display: inline;
  position: absolute;
}

.tooltip .tooltiptext-show {
  visibility: visible;
  font-weight: 500;
  font-style: italic;
  background-color: unset;
  color: #777777;
  text-align: right;
  padding: 6px 0px;
  border-radius: 0px;
  right: 0%;
  z-index: 0;
  margin: -6px 0px;
  opacity: 1;
  transition: opacity 0.3s;
  width: auto;
  transition-delay: 0.01s;
  white-space: nowrap;
  display: block;
  position: relative;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.down {
  right: -150% !important;
  top: 50%;
}

/* OTHER */

#load {
  /* visibility: hidden; */
  /* position: fixed; */
  border: 5px solid #f3f3f3;
  border-top: 5px solid #9b5e29;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
  margin-top: 3px;
  margin-left: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bigtxt {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
}

.info {
  font-size: 13px;
}

.zoom {
  animation: animatezoom 0.4s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.img-start {
  max-width: 100%;
  height: auto;
  border-top: 4px solid #bc8351;
  border-bottom: 4px solid #bc8351;
}

.update {
  font-size: 12px;
  margin: 6px 0px 12px 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
}

/* to top slide */
.up {
  display: none;
  padding: 0px 6px 20px;
  float: right;
  right: 25px;
  bottom: 25px;
  z-index: 99;
  position: fixed;
}

.question {
  color: #cccccc;
  margin-left: 6px;
  vertical-align: top;
}

.question:hover {
  color: #9b5e29;
  cursor: pointer;
}


.status-no {
  color: red;
}

.status-ok {
  color: ForestGreen;
}


.mark {
  background-color: rgba(172, 115, 65, 0.15);
  border-radius: 2px;
  padding: 3px 0px;
}

.mark:hover {
  background-color: rgba(172, 115, 65, 0.25);
  text-decoration: none;
  border-bottom: 0px;
}

.link-ext {
  color: #efefef;
  margin-left: 10px;
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #9b5e29;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 100px;
  align-self: center;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.0s;
  animation: fadein 0.5s, fadeout 0.5s 1.0s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 100px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 100px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 100px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 100px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }

}


/* DARK MODE */


.dark-mode {
  color: #cfcfcf;
  background-color: #090909;
}


.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
  color: #ffffff;
}

.dark-mode input {
  background-color: #f5f5f5;
}

.dark-mode ::placeholder,
.dark-mode ::-webkit-input-placeholder {
  color: #bbbbbb;
}

.dark-mode .content a {
  color: #a8dcff;
}

.dark-mode .breadcrumbs {
  font-size: 12px;
  color: #666666;
  font-style: italic;
}

.dark-mode .breadcrumbs a {
  color: #a8dcffaa;
}

.dark-mode .greybox {
  background-color: #383a3e;
  border-bottom: 1px solid #3c3c3c;
}

.dark-mode .search-advanced {
  border-top: 1px solid #9b5e29;
}

.dark-mode .col-left {
  background-color: #232426;
  border: 1px solid #232426;
}

.dark-mode #tab-title {
  background-color: #232426;
}

.dark-mode #tab .tablink {
  background-color: #090909;
}

.dark-mode #tab .tablink-active {
  background-color: #232426;
  color: #9b5e29;
}

.dark-mode .footer {
  border-bottom: 1px solid #232426;
  background-color: #232426;
}

.dark-mode #snippet {
  color: #cfcfcf;
  border: 1px solid #232426;
  background-color: #191a1c;
}

.dark-mode #snippet .tag-name {
  color: #666666;
}

.dark-mode .data {
  color: #cfcfcf;
}

.dark-mode .data .row {
  border-bottom: 1px solid #232426;
}

.dark-mode .data .row:hover {
  background-color: #232426;
}

.dark-mode #assets-list li {
  border-bottom: 1px solid #232426;
}

.dark-mode .assets-list li {
  border-bottom: 1px solid #232426;
}

.dark-mode .asset-texts {
  background-color: #191a1c;
  border: 1px solid #232426;
}

.dark-mode #asset-img div:not(:first-child) {
  border-bottom: 1px solid #232426;
}

.dark-mode #template-list {
  border-top: 1px solid #232426;
}

.dark-mode .texts-list li {
  border-bottom: 1px solid #232426;
}

.dark-mode .question {
  color: #666666;
}

.dark-mode .question:hover {
  color: #9b5e29;
  cursor: pointer;
}

.dark-mode .toggle,
.dark-mode .toggle .fa {
  color: #333333;
}

.dark-mode .toggle .fa:hover {
  color: #9b5e29;
}

.dark-mode .mark {
  background-color: rgb(120 120 120 / 30%);
}

.dark-mode .asset-icon {
  border-color: #684b32
}

.dark-mode .table .row {
  border-bottom: 1px solid #232426;
}

.dark-mode .viewer {
  background-color: #ffffff;
}

.dark-mode a.link-ext {
  color: #3f3f3f;
}

/* -------- RESPONSIVE --------- */


@media screen and (max-width: 600px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  strong,
  b {
    font-weight: 500;
    letter-spacing: -0.8px;
  }


  input[type=text],
  input[type=email],
  input[type=password],
  select,
  textarea {
    padding: 10px 6px;
    box-sizing: border-box;
    font-size: 16px;
  }

  #form input[type=checkbox],
  #form input[type=radio] {
    top: 1px;
  }

  #form label {
    padding: 18px 0 2 px 0;
  }



  #item-search input[type=text] {
    width: 75%;
  }

  #container {
    width: 100%;
    margin-top: 200px;
  }

  .col-20,
  .col-25,
  .col-30 .col-33,
  .col-40,
  .col-50,
  .col-50,
  .col-66,
  .col-70,
  .col-75,
  .col-80 input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .content {
    padding: 8px;
    width: 100%;
    margin: auto;
  }


  .fa-home {
    margin: -4px 2px;
    font-size: 26px;
  }

  .topnav.responsive .fa-home {
    font-size: 24px;
  }

  .fa-bars {
    font-size: 24px;
  }

  .topnav a {
    padding: 14px;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon-menu {
    font-size: 22px;
    float: left;
    display: block;
  }

  .topnav a.icon-start {
    padding: 18px 0px 16px 0px;
    float: left;
    display: block;
  }

  .topnav.responsive {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  .topnav.responsive .icon-menu {
    font-size: 22px;
  }

  .topnav.responsive a.icon-start {
    display: none !important;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .login-user {
    float: right;
    padding: 18px;
  }

  .login-container .login-field {
    max-width: 180px;
  }

  .list-legend-info {
    display: block;
    width: 100%;
    margin-top: 6px;
  }

  .title-list {
    font-size: 22px;
  }


  .price::after {
    content: "";
  }

  .new-badge {
    display: inline;
    margin: -1px 4px;
  }

  .item-picture {
    width: 50px;
    height: 50px;
  }

  #filter-ext {
    margin-top: 8px;
    padding: 8px 0;
    border-top: 1px solid lightgray;
  }

  #filter-ext button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 8px;
    font-size: 14px;
    width: 25% !important;
  }


}