@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --header-color: #2d2b2f;
  --font-color: #2d2b2f;
  --bg-color-content: #eaeaea;


  --first-color: #2d2b2f;
  --secondary-color: #1b1a17;
  --third-color: antiquewhite;
  --fourth-color: #eaeaea;
  --fifth-color: lightgrey;

  --search-tab-bg: lightgrey;
  --table-bg-color: #ebdac3;
  --icon-ModeSwitch: 'dark_mode';
}

.dark-mode {
  --header-color: #010409;
  --font-color: #eaeaea;
  --bg-color-content: #262c36;

  --first-color: #eaeaea;
  --secondary-color: antiquewhite;
  --third-color: #151b23;
  /* color mod-io */
  --fourth-color: #262c36;
  --fifth-color: #151b23;

  --search-tab-bg: #262c36;
  --table-bg-color: #262c36;
  --icon-ModeSwitch: 'light_mode';
}

html, body {
  font-family: Niramit;
  font-size: 1em;
  margin: 0;
  height: 100vw;
/*  width: 100vw; */
  color: var(--font-color);
  background-color: var(--bg-color-content);
}


.hidden {
  display: none;
}

#headbar {
  clear: both;
  background-color: var(--header-color);
  color: #eaeaea;
}

#sitname {
  display: inline-block;
}
#imprint {
  float: right;
  display: inline-block;
}

#searchbar {
  background-color: var(--header-color);

}

/* search-forms */
.search_tab {
  display: inline-block;
  background-color: var(--search-tab-bg);
  padding: 3px 15px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  font-size: 1.25em;
}

.active_search_tab {
  background-color: var(--third-color);
}

.search_forms {
  background-color: var(--third-color);
  min-height: 30px;
  padding: 10px;
}

.search_form {
  display: none;
}

form>* {
  padding: 5px;
}

form>input {
  min-width: 300px;
  width: 15vw;
}

/* content */
#content {
  display: flex;
/*  width: 100vw; */
/*  height: 100vw; */
  margin-bottom: 30px;
}

#result_list {
  background-color: var(--third-color);
  color: var(--font-color);
  display: inline-block;
  width: 25vw;
/*  height: 100vw; */
}

#table_result_list {
  width: 100%;
  max-width: 25vw;
  padding: 5px;
}

#table_result_list tr:nth-child(odd) {
  background-color: var(--table-bg-color);
}

#table_result_list tr td {
  vertical-align: middle;
  padding: 0 5px;
}

#table_result_list tr td:nth-child(1) {
  text-align: right;
}

#table_result_list tr td>span {
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10vw;
  display: block;
  margin-left: 5px;
}




#result_details {
  display: inline-block;
  width: 79vw;

}

#detail_view {
  background-color: var(--third-color);
/*  width: 100%; */
  display: flex;
}

#detail_view_tab_bar {
  border-radius: 15px 15px 0 0;
/*  width: 100%; */
  padding-top: 20px;
  display: flex;
}

.detail_tab {
  display: inline-block;
  background-color: var(--third-color);
/*  padding: 3px 15px; */
  font-weight: bold;
  font-size: 1.25em;
  width: calc(79vw / 3);
  text-align: center;
  color: var(--first-color);
}

.active_detail_tab {
  background-color: var(--fourth-color);
  color: var(--font-color);
}

#detail_destination {
  height: calc(100% - 54px);
}

#detail_destination div {
  display: none;
  background-color: var(--fourth-color);
  color: var(--font-color);
/*  height: 100%; */
  padding: 20px 20px 3px 20px;
}

#detail_xml textarea {
  width: 100%;
/*  height: calc(100% - 20px); */
  padding: 0;

}








#loader_div {
  position: absolute;
  width: 100vw;
  text-align: center;
  top: calc(100vw / 2 - 35px);
  display: none;
}

model-viewer {
  width: 750px; /* or any percentage or fixed value like 600px */
  height: 750px; /* or any fixed height */
}


.loader {
  border: 24px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
  }

  33% {
    border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
  }

  66% {
    border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
  }

  100% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
  }
}

/* Buttons */

.btn {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  border: none;
  color: var(--font-color);
  background-color: unset;
}


/* Symbols and Icons */


.material-symbols-outlined {
  color: var(--font-color);
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 20px;
  font-size: 24px;
}

#css_toggle {
  float: right;
  padding-right: 50px;
  height: 32px;
  width: 32px;
}
.icon-ModeSwitch::before {
  content: var(--icon-ModeSwitch);
  color: #eaeaea;
  font-size: 32px;
}